.registration-page {
  height: 100vh; /* Tinggi penuh layar */
}

.left-side {
  background-color: #f7f9fc;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
}
